.titleBlock {
    margin-bottom: 50px;
}

.myprofileBlock {
    display: flex;
    align-items: center;
}

img {
    width: 75%;
    border-radius: 50%;
    margin: 0 auto;
}

.myprofileImg {
    flex: 0.5;
    text-align: center;

}

.myProfileContentBlock {
    background-color: rgb(198, 198, 198);
    border-radius: 20px;
    flex: 0.5;
    height: 40vh;
    text-align: center;
    position: relative;
}
.myProfileContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.profileTable  {
    border-spacing: 10px;
}
.profileTitle {
    width: 200px;
    font-size: 20px;
    font-weight: 700;
}
.profileContent {
    width: 400px;
    font-size: 20px;
    font-weight: 700;
}   



@media(max-width:430px) {

    .titleBlock {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .myprofileBlock {
        display: block;
    }

    /* 自己紹介 */
    .myProfileContentBlock {
        width: 100%;
        margin: 30px auto 0px;
        border-radius: 5px;
    }
    .myProfileContentBlock h2 {
        font-size: 15px;
    }
    img {
        width: 70%;
    }


    .profileTable th,.profileTable td{
        font-size: 15px;
    }
}