.profileProgramingBlock {
    background-color: rgb(183, 181, 181);
    border-radius: 40px;
    padding: 50px;
    width: 80%;
    margin: 50px auto;
}

.studyingBlock {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin: 50px;
}

.frontEndBlock {
    flex: 0.5;
}

.backEndBlock {
    flex: 0.5;
}

@media(max-width:430px) {
    .profileProgramingBlock {
        width: 70%;
    }
    .profileProgramingBlock h2{
        font-size: 25px;
    }
    .profileProgramingBlock h3 {
        font-size: 20px;
    }
    .studyingBlock {
        display: block;
    }
    .studyingBlock p {
        font-size: 15px;
    }
}