.baseComponents {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px 0;
    margin: 120px 0;
}

/* profile */

.profileBlock {
    background-color: rgb(225, 225, 225);
    border-radius: 40px;
    width: 40%;
    margin-right: 10px;
    padding: 20px 0;
}
.profileComponents {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* works */
.baseWorksBlock {
    background-color: rgb(175, 175, 175);
    border-radius: 40px;
    width: 40%;
    margin-left: 10px;
    padding: 20px 0;
}
.baseWorksComponents {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

button {
    padding: 15px 25px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 16px;
}

button:hover {
    background-color: rgb(77, 77, 77);
}


@media(max-width:430px) {
    .tableOfContent h1 {
        font-size: 40px;
    }

    .baseComponents {
        display: block;
        margin-top: 10px;
    }

    /* profile */
    .profileBlock {
        margin: 20px auto;
        width: 80%;
  
    }
    .profileBlock h2 {
        font-size: 30px;
    }
    /* works */
    .baseWorksBlock {
        margin: 20px auto;
        width: 80%;
    }
    .baseWorksBlock h2 {
        font-size: 30px;
    }


}