.worksComponents {
    background-color: rgb(209, 209, 209);
    border-radius: 40px;
    min-height: 70vh;
    padding: 40px;
}
.worksBlock {
    display: flex;
    justify-content: center;
    align-items: center;

}

.worksPhoto  {
    flex: 0.5;
    text-align: center;

}

.worksContent {
    flex: 0.5;
}

.worksContentFlex {
    display: flex;
}

/* table */
.worksTable {
    font-size: 20px;
    text-align: center;
    border-spacing: 20px;

}

.tableTitle {
    width: 150px;
    font-size: 25px;
}
.tableContent {
    width: 300px;
    font-size: 25px;
}

.workPhotoImg {
    border-radius: 0;
}

.worksContent h3 {
    font-size: 30px;
}

.urlButton {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

@media(max-width:420px) {
    .worksBlock {
        display: block;
    }
    .tableTitle {
        width: 150px;
        font-size: 15px;
    }
    .tableContent {
        width: 300px;
        font-size: 15px;
    }
}